@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #ABD6D2;
}

.bg-blue {
    background-color: #6a9793;
    min-height: 100vh;
    padding: 10px;
}

.montserrat {
    font-family: 'Libre Franklin', sans-serif;
}

.text-merah {
    color: #E27A7A;
}

.text-biru {
    color: #33858A;
}
    

.box {
    background-color: white;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: keania one;
}

.nav-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link a:hover {
    text-decoration: underline;
}

.btn-merah {
    background-color: red;
}
/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.footer-top{
    background-color: #ABD6D2;
    padding: 15px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}
.footer-top-content{
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
}
.footer-bottom{
    background-color: #ABD6D2;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.black-text{
    color: #000000;
}
.white-link{
    color: #fff;
    text-decoration: none;
}
.white-link:hover{
    color: blue;
    text-decoration: dashed;
}
