@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #ABD6D2;
}

.bg-blue {
    background-color: #6a9793;
    min-height: 100vh;
    padding: 10px;
}

.montserrat {
    font-family: 'Libre Franklin', sans-serif;
}

.text-merah {
    color: #E27A7A;
}
.text-biru {
    color: #33858A;
}
.text-putih {
    color: white
}
.text-bold {
    font-weight: bold;
}
.text-tengah{
    text-align: center;
}
    

.box {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.navbar-brand {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: keania one;
}
.nav-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.nav-link a:hover {
    text-decoration: underline;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.footer-top{
    background-color: #ABD6D2;
    padding: 15px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}
.footer-top-content{
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
}
.footer-bottom{
    background-color: #ABD6D2;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.black-text{
    color: #000000;
}
.white-link{
    color: #fff;
    text-decoration: none;
}
.white-link:hover{
    color: blue;
    text-decoration: dashed;
}
.custom-box {
    height: 200px;
    margin-top: 50px;
}
.custom-box2 {
    height: 200px;
    margin-bottom: 40px;
}
.custom-box3 {
    height: 200px;
    margin-bottom: 40px;
    background-color: rgb(255, 19, 19);
}
.custom-boxa1 {
    height: 250px;
    width: 450px;
    margin-bottom: 40px;
    background-color: rgb(203, 255, 143);
    border: none;
}
.custom-boxa2 {
    height: 250px;
    width: 450px;
    margin-bottom: 40px;
    background-color: rgb(250, 255, 176);
    border: none;
}

.custom-boxPaketLainnya{
    height: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-fluid {
    max-width: 50px; 
    height: auto;
}
.text-left {
    text-align: left;
}
.btn-merah {
    background-color: red;
    border-color: red;
    color: rgb(255, 255, 255);
}

.btn-merah:hover {
    background-color: darkred;
    border-color: darkred;
}

.short-line {
    width: 30%;
    margin: 0 auto; /* Center the line */
    height: 1px; 
    background-color: black; 
    margin-top: 10px; /* Adjust the spacing as needed */
}















/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }